{namespace CalculatorButton}

/**
* @param? buttonClass
* @param text
* @param click
*/
{template .render}
	<button data-text="{$text}" class="	{$buttonClass ? $buttonClass : 'calculator-button'}" data-onClick="{$click}">{$text}</button>
{/template}
