.box-calculator{
  position: relative;
  flex: 1 0 202px;
  margin: 0 65px 0 0;

  .calculator-display{
    width: 202px;
    height: 56px;
    padding: 21px 16px 0;
    font-size: 14px;
		overflow: auto;
    background: #eaf0f3;
  }

  .calculator-buttons-wrapper{
    @include flex(row, flex-start, space-between);
    width: 202px;
    margin-top: 10px;
  }

  .calculator-digits{
    width: 144px;
    overflow: hidden;
    border-radius: 5px;
  }

  .calculator-operators{
    overflow: hidden;
    border-radius: 5px;
    width: 47px;

    .calculator-button{
        margin-right: 0;
    }
  }

  .calculator-button{
		cursor: pointer;
    width: 47px;
    height: 47px;
    float: left;
    margin: 0 1px 1px 0;
    border: 0;
    background: rgba($color-dodger-blue, 0.3);
    color: $color-dodger-blue;

    &:hover {
      background: rgba($color-dodger-blue, 0.45);
    }

		&:active {
			background: rgba($color-dodger-blue, 0.55);
		}
	}

  .calculator-button--double-size{
    @extend .calculator-button;
    width: 95px;
  }

}
