.loan-form{
	background: #fff;
	padding: 61px 65px;
	border-radius: 6px;
	box-shadow: 0 0 20px 0 rgba($color-dark-navy, 0.1);
	@include flex(row, initial, stretch);
	margin: 0 auto 122px;
	width: 688px;
	flex-wrap: wrap;
}


.box-loan-options{
	@include flex(column);
	flex: 1 0 290px;
	position: relative;
	input, label, button{
		width: 100%;
	}

	.calculate-interest {
		margin-bottom: 16px;
		cursor: pointer;
		margin-top: -3px;
		transition: ease-out .3s all;
		box-shadow: inset 0 0 0 $color-dodger-blue;

		&:hover {
			box-shadow: inset 0 50px 0 $color-dodger-blue;
			color: #fff;
		}
	}

	.get-quot{
		cursor: pointer;
		position: absolute;
		max-width: 290px;
		bottom: 0;
	}

	#input-total {
		margin-bottom: 26px;
	}
}


input {
  &[type="text"]{
    font-size: 14px;
    border-radius: 4px;
    background: $color-pale-grey;
    padding: 11px 10px;
    font-weight: 500;
    color: $color-dark-grey-blue;
    @include placeholder(){
      color: rgba($color-blue-grey, 0.5);
    }
    border: 1px solid transparent;

    &:focus{
      border-color: $color-lightblue;
    }
  }
}
.warning-label {
	font-size: 12.5px;
	margin-top: 6px;
	line-height: 16px;
	color: $color-scarlet;
	display: none;

	i {
		cursor: pointer;
	}
}

.dropdown .dropdown-list-wrapper.show, .warning-label.show {
  display: block;
}

label {
  @include clear();
  margin-bottom: 27px;

  .caption{
    color: $color-greyish-brown;
    font-size: 18px;
    margin-bottom: 6px;
    display: block;
  }

  .mandatory-sign{
    font-weight: bold;
    color: $color-faded-orange;
  }
}

.button {
  color: $color-dodger-blue-two;
  padding: 10px;
  font-size: 16px;
  background: $color-white;
  text-align: center;
  font-weight: 500;
  border: 1px solid $color-dodger-blue-two;
  border-radius: 4px;

  &[disabled]{
    background-color: $color-steel;
    border-color: transparent;
  }
}

.button--filled{
  @extend .button;
  background: $color-dodger-blue-two;
  color: $color-white;
}


.dropdown-list-item{
	cursor: pointer;
  padding: 10px;

  &:hover{
		@extend .dropdown-list-item;
		background: $color-pale-grey-two;
  }

	&[data-selected] {
		color: $color-dark-sky-blue;
	}
}

.submit-label {
	position: absolute;
	bottom: 45px;
	width: 100%;
	color: #fff;
	background: #3e9cfc;
	padding: 0.5rem;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	z-index: 2;
	transition: all .3s ease-in-out;

	&:before {
		content: "";
		display: block;
		border: solid 7px transparent;
		border-top-color: #3e9cfc;
		width: 0;
		height: 0;
		position: absolute;
		bottom: -11px;
		left: 50%;
		margin-left: -10px;
	}

	&.danger {
		background: rgb(190, 0, 0);

		&:before {
			border-top-color: rgb(190, 0, 0);
		}
	}

	&.show-message {
		opacity:1;
		visibility: visible;
		transform: translateY(0);
	}
}
