//Colors

$color-black:              #000000;
$color-dark-navy:          #00053D;
$color-dark-grey-blue:     #39536c;
$color-greyish-brown:      #4a4a4a;
$color-warm-grey:          #9b9b9b;
$color-steel:              #728694;
$color-blue-grey:          #869cad;
$color-blue-grey-two:      #869cae;
$color-lightblue:          #65b4f0;
$color-dodger-blue-two:    #308fff;
$color-dodger-blue:        #3e9cfc;
$color-cornflower-blue:    #6195ED;
$color-dark-sky-blue:      #329de6;
$color-cloudy-blue:        #cddae1;
$color-white:              #ffffff; 
$color-white-2:            #fafafa;
$color-pale-grey:          #eaf0f3;
$color-pale-grey-two:      #f8fafa;
$color-pale-grey-three:    #e4e9ec;
$color-faded-orange:       #f5984c;
$color-scarlet:            #d0021b;
$color-scarlet-two:        #d0011b;



